<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdnlines.html' %}
  </head>
  <body class='bg-secondary'>
    <div class="container">
      <div class="row">
        <div class="offset-md-4 col-md-4"><br><br><br><br><br><br>
           <form method="POST" class='border px-3 py-3 shadow bg-white'>
             <h1 class='text-center text-white bg-primary pb-2'>Please Login</h1>
            {% csrf_token %}
            <label>Enter Emailid</label>
            <input reqired type="email" name='email' class='form-control'>
           <label>Enter Password </label>
           <input required type="password" name='passwords' class='form-control'><br>
           <center>
               <input type="submit" value="Login" class='btn btn-outline-success'>
               <input type="reset" value="Clear" class='btn btn-outline-warning'>
             </center>
          </form>
       </div>
      </div>
    </div>
  </body>
</html>
